.artist-card-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; 
    gap: 2rem;
  }
.artist-image{
    width: 22rem;
    height: 20rem;
    border-radius: 0px !important;
}  
.star-image{
    width: 20px;
    height: 20px;
}

.artists-followers{
    color: #7C7C7C !important;

}